@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #000000;
  text-align: center;
}

.main-container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.page-header {
  color: #000000;
  width: 1060px;
  margin: 0 auto;
  position: relative;
}

.logo-sedona {
  position: absolute;
  top: 0;
  left: 0;
}

.page-navigation {
  display: flex;
  padding-left: 168px;
}

.navigation-list {
  margin: 0 auto 0 0;
  padding: 0;
  display: flex;
  list-style: none;
  width: 500px;
  flex-wrap: wrap;
}

.navigation-item {
  padding: 20px 16px;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  color: #000000;
  text-decoration: none;
}

.navigation-user {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 14px 0;
  width: 330px;
  list-style: none;
  grid-auto-rows: auto;
  flex-wrap: wrap;
  row-gap: 10px;
}

.navigation-item-user {
  background-repeat: repeat;
  display: block;
  background-position: center center;
  position: relative;
}

.search-glass {
  width: 44px;
  height: 36px;
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  display: block;
  background-position: center center;
}

.heart {
  width: 44px;
  height: 36px;
  background-image: url("../images/favourites.svg");
  position: relative;
  display: block;
  background-position: center center;
}

.navigation-link-user {
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  color: #000000;
}

.likes {
  width: 44px;
  height: 64px;
  background-color: aquamarine;
}

.likes-number {
  color: #ffffff;
  background-color: rgb(125, 181, 79);
  font-weight: 400;
  font-size: 10px;
  line-height: 11px;
  position: absolute;
  top: -3px;
  right: 5px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.navigation-button {
  display: inline-block;
  padding: 8px 34px;
  margin: 0 0 0 20px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.main-index {}

.hero {
  background-color: #dfebf5;
  background-image: url(../images/divider.svg), url(../images/index-background.jpg);
  background-size: 1200px 57px, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: center bottom, center top;
  padding-top: 51px;
  padding-bottom: 82px;
}

.welcome-image {
  display: block;
  margin: 0 auto;
}

.main-title {
  margin: 0 auto 25px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  width: 700px;
}

.main-description {
  margin: auto;
  margin-bottom: 90px;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  width: 651px;
}

.advantages {
  padding-top: 69px;
}

.advantages-list {
  display: flex;
  width: 1200px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-item {
  display: flex;
  background-color: rgba(130, 179, 211, 0.20);
}

.advantages-item:nth-child(2n) {
  background-color: rgba(130, 179, 211, 0.12);
}

.blue .advantages-block {
  padding-top: 102px;
  padding-bottom: 102px;
  background-color: #82b2d3;
}

.blue .advantages-title,
.blue .advantages-description {
  color: #ffffff;
}

.advantages-block {
  margin: 0;
  width: 400px;
  padding-top: 112px;
  padding-bottom: 112px;
}

.advantages-title {
  position: relative;
  margin: 0 auto 62px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  width: 180px;
  text-transform: uppercase;
}

.advantages-title::after {
  content: "";
  display: block;
  position: absolute;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  top: 85px;
  left: 61px;
}

.blue .advantages-title::after {
  background-color: rgba(255, 255, 255, 0.3);
}


.advantages-description {
  margin: 0 auto;
  padding: 0;
  width: 250px;
  color: #333333;
}

.advantages-image {
  display: block;
  object-fit: cover;
  height: 100%;
}

.services {
  padding-top: 64px;
}

.services-capitals {
  margin: 0 auto;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  width: 505px;
  text-transform: uppercase;
}

.services-text {
  margin: 20px auto 64px;
  font-size: 22px;
  line-height: 26px;
  width: 490px;
  color: #333333;
}

.services-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 400px 400px 400px;
}

.services-item {
  padding: 184px 85px 81px;
  background-color: rgba(130, 179, 211, 0.20);
  background-repeat: no-repeat;
}

.services-item-house {
  background-image: url(../images/Vector.svg);
  background-position: center 81px;
}

.services-item-food {
  background-image: url(../images/Advantage-icon_food.svg);
  background-position: center 81px;
}

.services-item-souvenir {
  background-image: url(../images/Сувениры.svg);
  background-position: center 81px;
}


.services-item:nth-child(2n) {
  background-color: #ffffff;
}

.services-title {
  margin: 0 0 29px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  padding: 0;
  text-transform: uppercase;
}

.services-description {
  margin: 0;
  color: #333333;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.search {
  padding-top: 96px;
  padding-bottom: 96px;
}

.search-title {
  margin: 0 auto 20px;
  font-weight: 700;
  width: 297px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.search-description {
  margin: 0 auto 54px;
  font-size: 22px;
  line-height: 26px;
  width: 592px;
  color: #333333;
}

.search-button {
  font-family: "PT Sans", "Arial", sans-serif;
  padding: 8px 5px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  display: inline-block;
  width: 376px;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.newsletter {
  background-color: #244051;
  padding: 96px 0 104px;
  background-image: url("../images/newsletter-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 0;
  text-align: center;
}

.newsletter-title {
  margin: auto;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
  width: 404px;
  text-transform: uppercase;
}

.newsletter-description {
  margin: auto;
  padding-bottom: 50px;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  width: 475px;
}

.appointment-form {
  display: flex;
  justify-content: center;
}

.appointment-field {
  width: 452px;
  min-height: 24px;
  padding: 14px 20px;
  border: 0;
  border-radius: 4px 0 0 4px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.button {
  padding: 8px 20px;
  border: 0;
  width: 232px;
  border-radius: 0 4px 4px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  background-color: #82b2d3;
  color: #ffffff;
}

.footer-contacts {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 30px;
  background-position: center;
  width: 1082px;
  margin: 0 auto;
}

.massanger-button {
  display: block;
  width: 44px;
  height: 44px;
}

.vkontakte {
  background-image: url(../images/social-vk.svg);
}

.telegramm {
  background-image: url(../images/social-telegram.svg);
}

.youtube {
  background-image: url(../images/social-youtube.svg);
}

.footer-contacts-phone {
  display: flex;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.massanger-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  flex-wrap: wrap;
}

.massanger-item {}

/*каталог*/

.main-catalog {
  text-align: left;
}

.filter {
  background-color: #244051;
  background-image: url(../images/Фильтр.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 35px 70px 70px;
}

.catalog-title {
  text-align: left;
  margin: 0 auto 8px 0;
  color: #ffffff;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding-left: 56px;
  padding-bottom: 40px;
  text-align: left;
  color: #ffffff;
  list-style: none;
  flex-wrap: wrap;
}

.breadcrumbs-item {
  position: relative;
  padding-right: 15px;
  margin-right: 10px;
}

.breadcrumbs-link-house {
  display: block;
  width: 21px;
  height: 21px;
  background-image: url(..images/house-link.svg);
  background-repeat: no-repeat;
  background-position: center center;
}


.breadcrumbs-link {
  font-size: 16px;
}

.breadcrumbs-item::after {
  content: "";
  width: 8px;
  height: 21px;
  background: url(../images/arrow.svg) no-repeat center center;
  position: absolute;
  right: 0;
  top: 0;
}

.breadcrumbs-item:last-child::after {
  display: none;
}

.catalog-list {
  color: #ffffff;
}

.catalog-filter {
  display: flex;
  margin: 0;
  justify-content: space-between;
}

.catalog-options {
  display: flex;
}

.catalog-filter-group {
  border: none;
  margin: 0 0 32px;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.price-container {
  margin-bottom: 36px;
}

.legend {
  display: block;
  padding-inline-start: 2px;
  padding-inline-end: 2px;
  border-width: initial;
  border-color: initial;
  border-style: none;
  border-image: initial;
}

.catalog-filter-title {
  padding: 0;
  margin: 0 0 32px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.control-input {
  margin: o 16px 0 0;
}

.price-field {
  font-family: "PT Sans", "Arial", "Sans-serif";
  width: 143px;
  padding: 0;
  padding-left: 20px;
  min-height: 48px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: left;
  box-sizing: border-box;
  border: none;
}

.price-field-from {
  margin-right: -2px;
  border-radius: 4px 0 0 4px;
  height: 36px;
}

.price-field-to {
  margin-top: 32x;
  border-radius: 4px;
  padding: 0;
  height: 36px;
  width: 143px;
}

.price-range {
position: relative;
width: 288px;
height: 20px;
}

.line {
  position: absolute;
  width: 288px;
  height: 1px;
  top: 7px;
  left: 0;
  border-top: 4px solid red;
}

.range {
  position: absolute;
  width: 213px;
  height: 1px;
  top: -4px;
  left: 0;
  border-top: 4px solid blue;
}

.range-handle-from {
  left: 0;
}

.range-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  top: -12px;
  cursor: pointer;
}

.range-handle-to {
  left: 208px;
}

.catalog-filter-list {
  list-style: none;
  padding: 0;
  margin: 0 0;
}

.catalog-filter-item {
  font-weight: 400;
  line-height: 23px;
  margin: 0 0 16px;
}

.label-checkbox::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
}

.label-checkbox {
position: relative;
display: inline-block;
cursor: pointer;
padding-left: 36px;
}

.label-checkbox::after {
  content: "";
  width: 13px;
  height: 13px;
  position: absolute;
  background: url("../images/tick.svg") no-repeat center center;
  top: 6px;
  left: 4px;
  display: none;
}

.control-input:checked + .label-checkbox::after {
  display: block;
}

.filter-button {
  border: none;
}

.button-filter {
  display: block;
  background-color: #82b2d3;
  color: #ffffff;
  padding: 0;
  border-radius: 4px;
  margin-top: 43px;
  margin-bottom: 32px;
  width: 191px;
  height: 36px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.button-filter-light {
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
  padding: 0;
  border: 0;
  width: 191px;
  height: 36px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.hotel-selection {
  display: flex;
  margin-bottom: 40px;
  align-items: center;
}

.hotel-quantity {
margin: 0 200px 0 0;
text-transform: uppercase;
font-size: 30px;
font-weight: 700;
line-height: 36px;
}

.card-style-list {
  display: flex;
  padding: 0;
  list-style: none;
  margin: 0;
}

.style-button {
  display: block;
  width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid #e5e5e5;
    border-radius: 4px;
}

.card-button {
  background-image: url(../images/plate.svg);
}

.big-button {
  background-image: url(../images/card.svg);
}

.list-button {
  background-image: url(../images/list.svg);
}

.hotel-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0 70px;
}

.hotel-card {
  width: 340px;
  border: 2px solid #e6e6e6;
  margin-bottom: 20px;
}

.cards {
  margin: 20px 20px auto;
}

.hotel-card-title {
  text-align: left;
}
