@font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  } 
  body {
    margin: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    background-color: #F2F2F2;
    color: #000000;
    text-align: center;
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
  }
  .page-header{}
  .logo-sedona{}
  .page-navigation
  .navigation-list{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .navigation-item{}
  .navigation-user {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .navigation-link{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    color: #000000;
    text-decoration: none;
  }
  .navigator-item-user{}
  .navigation-link-user{
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    color: #000000;
  }
  .likes{}
  .likes-number{
    color: #000000;
    text-decoration: none;
  }
  .main-index{}

  .hero{
    background-image: url(../images/index-background.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
  }

  .welcome-image{}
.main-title{
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-decoration: none;
  color: #000000;
}
.main-description{
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  color: #333333;

}
.advantages-list{
  margin: 0;
  padding: 0;
  list-style: none;
}
.advantages-item{}

.advantages-item:nth-child(1) .advantages-block
.advantages-item:nth-child(5) .advantages-block{
  background-color: #82B3D3;
}

.advantages-title{
  margin: 0;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  background-color: #82B3D3;
}
.advantages-description{
  margin: 0;
  color: #FFFFFF;
  background-color: #82B3D3;
  padding: o;
}
.services-capitals{
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.services-text{
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}
.services-list{
  margin: 0;
  padding: 0;
  list-style: none;
}
.services-title{
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
.services-description{
  margin: 0;
  color: #333333;
}
.search-title{
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}
.search-description{
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}
.search-button{
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  background-color: #756157;
  text-decoration: none;
}
.newsletter{
  background-image: url(../images/newsletter-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.newsletter-title{
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #FFFFFF;
}
.newsletter-description{
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
}
.appointmen-form{}
.footer-contacts{}
.footer-contacts-phone{
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}
.massanger-list{
  margin: 0;
  padding: 0;
  list-style: none;
}
